.service-card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.image-icon{
    background-color: #d5fafa;
    border-radius: 50%;
    transition: .5s linear;
}
.image-icon:hover{
    background-color: #008080;
    transform: none;
}
.image-icon img{
    width: 100px;
}
